.Header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    list-style: none;
    padding: 0;
}

.Header a {
    text-decoration: none;
    color: inherit;
}

.Header a:hover {
    color: #4f46e5;
}