.recipe-top {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
}

.recipe-image {
    width: 500px;
    max-width: 50%;
    border-radius: 20px;
}

.recipe-info {
    flex: 1;
}

.ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 12px;
    row-gap: 4px;

    list-style: none;
    padding: 0;
}

.instructions-list {
    list-style: none;
    padding: 0;
}

.back-button {
    display: block;
    margin-left: 0;
    margin-right: auto;

    background: none;
    border: none;

    font-size: 32px;
    cursor: pointer;
}